.cards {
  overflow: scroll;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 10rem;
  .card {
    flex-grow: 1;
    flex-basis: 20rem;
    max-width: 30rem;
    justify-content: center;

    padding-inline: 1rem;
    padding-block: 0.75rem;
    background-color: #1c1c1c;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgb(211, 206, 206);
    img {
      width: 100%;
      border-radius: 1rem;
    }
    h1 {
      font-size: 2rem;
      font-weight: 500;
    }
    .description {
      opacity: 0.7rem;
      word-spacing: 0.4rem;
      line-height: 1.3rem;
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
      .tag {
        background-color: #353735;
        width: fit-content;
        padding-inline: 1.25rem;
        padding-block: 0.75rem;
        border-radius: 0.75rem;
        white-space: nowrap;
      }
    }
    .urls {
      color: white;
      display: flex;
      gap: 1rem;
    }
  }
}
