.window {
  height: 500px;
  width: 700px;
  background-color: black;
  border-radius: 0.75rem;
  overflow: hidden;
  color: rgb(168, 168, 168);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  .nav {
    padding-inline-start: 0.75rem;
    padding-block: 0.5rem;

    border-bottom: 1px solid rgb(90, 79, 79);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    .dots {
      display: flex;
      gap: 0.25rem;
    }
    .dot {
      height: 15px;
      width: 15px;
      background-color: white;
      border-radius: 50%;
    }
    .red {
      background-color: #eb3535;
    }
    .yellow {
      background-color: rgb(247, 247, 93);
    }
    .green {
      background-color: rgb(27, 224, 27);
    }
  }
}
